<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Virtual Classroom</title>

    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
   

    @Styles.Render("~/Content/less")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body id="Body1" class="lightBody">
    <div id="DivBody1" class="divBody">
        <header id="Header1">
            <h2>@ViewBag.Name</h2>
            <hr />
        </header>
        @RenderBody()
        <footer id="Footer1">
            <hr />
            <p id="copyright">&copy; @DateTime.Now.Year - Virtual Classroom</p>
        </footer>
    </div>
   
</body>

</html>
