@using Microsoft.AspNet.Identity
@using VirtualClassroom.Models
@using System.Linq;
@using System.Security.Claims;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.Owin;
@using Microsoft.Owin.Security;
@using System;
@using System.Collections.Generic;
@using System.Data.Entity;
@using System.Threading.Tasks;
@using System.Web;

@if (Request.IsAuthenticated)
{
    //full name
    var userManager = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
    var user = userManager.FindByEmail(User.Identity.GetUserName());
    string FullName = user.FullName;



    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dropdown-user">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img alt="" class="img-circle"  style="height:20px;width:20px;" src="~/Content/pageheader/user.cf4d84ae.png" />
                    <span class="username username-hide-on-mobile"> @FullName </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">

                    <li>
                        @Html.ActionLink("My Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>

                    <li>
                        <a href="">
                            <i class="icon-calendar"></i> My Calendar
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-envelope-open"></i> My Inbox
                            <span class="badge badge-danger"> 3 </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-rocket"></i> My Tasks
                            <span class="badge badge-success"> 7 </span>
                        </a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="">
                            <i class="icon-lock"></i> Lock Screen
                        </a>
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                            <li class="divider"> </li>
                            <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                            <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                    }

                </ul>
            </li>

        </ul>
    }
}


else
{
    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <img alt="" class="img-circle" style="height:20px;width:20px;" src="~/Content/pageheader/user.cf4d84ae.png" />
                <span class="username username-hide-on-mobile"> Account </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">

                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

                <li class="divider"> </li>
                <li>
                    <a href="">
                        <i class="icon-lock"></i> Lock Screen
                    </a>
                </li>

                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

            </ul>
        </li>





    </ul>
}
