@model VirtualClassroom.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    ViewBag.Name = "Register";
    var selectClassroom = "Select Classroom";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.Address1, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
       
            @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
   
        <div class="col-md-10">
            @Html.DropDownListFor(m=> Model.SelectedCountry, Model.Country, "Select Country", new { @id = "CountryId", @class = "form-control",
           @onchange = "ChangeCountry()" })
        </div>
    </div>




    <div class="form-group">
        @Html.LabelFor(m => m.ZipCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group" >
            @Html.LabelFor(m => m.Classroom, new { @class = "col-md-2 control-label" })
      
        <div class="col-md-10">
            @Html.DropDownListFor(m => Model.SelectedClassroom, Model.Classroom, @selectClassroom, new { @id = "classid", @class = "form-control classroomfill", @onchange = "FillTeachers()" })
        </div>
    </div>

    <div class="form-group" id="teachersdiv">
        @Html.Partial("_Teachers", new VirtualClassroom.Models.TeacherViewModel() { SelectedTeacher = (string)Model.SelectedTeacher, selectedClassroomId = (string)Model.SelectedClassroom })
    </div>

    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

<script>
    function ChangeCountry()
    {
        var Id = $('#CountryId').val();
        console.log("Country: " + Id);
      
    }
    function FillTeachers()
    {
       // debugger;
        var Id = $('#classid').val();

        var classroom = $('.classroomfill :selected').val();
        //console.log("classroom" + classroom);
        var s='@selectClassroom';

        //console.log("selectClassroom: " + s);
        if (classroom != "" && classroom != s) 
        {
            $('.teachersdrop').removeAttr('disabled'); 
        }
        else
        {
            $('.teachersdrop').attr('disabled', true);
        }
        //console.log("Changing teachers....");

        $("#teachersdiv").empty();
        $("#teachersdiv").load('/Account/FillTeachers', { id: Id }, function (responseTxt, statusTxt, xhr) {
            var classroom = $('.classroomfill :selected').val();
            console.log("classroom" + classroom);

            if (classroom != "" && classroom != "") {
                $('.teachersdrop').removeAttr('disabled');
            }
        });
      

    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
