@{
    ViewBag.Title = "Seat Computer";
}

@if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
else
{
    <div id="targetDiv" class="targetContainer"></div>

    @Scripts.RenderFormat("<script src=\"{0}\"></script>", "https://static.opentok.com/v2/js/opentok.min.js")

    @Scripts.Render("~/bundles/react")
    @Scripts.Render("~/vc/global")
    @Scripts.Render("~/vc/app")
    @Scripts.Render("~/vc/app/SC")

    <script type="text/javascript">
        $(document).ready(function () {
            var _c = new VC.App.InitSC('targetDiv', '@Url.Action()', @ViewBag.ScLayout);
        });
    </script>
}

