@model VirtualClassroom.Models.ComputerViewModel


<link href="~/Content/animate.css" rel="stylesheet" />
@{
    ViewBag.Title = "Featured Computer";
    ViewBag.Name = Model.Name;
}

<style>
    #targetDiv{
        background:#000;
    }

</style>

@if (!String.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}
else
{
    <div id="targetDiv" class="targetContainer"></div>

    @Scripts.RenderFormat("<script src=\"{0}\"></script>", "https://static.opentok.com/v2/js/opentok.min.js")

    @Scripts.Render("~/bundles/react")
    @Scripts.Render("~/vc/global")
    @Scripts.Render("~/vc/app")
    @Scripts.Render("~/vc/app/FC")

    <script type="text/javascript">
        $(document).ready(function () {
            var _c = new VC.App.InitFC('targetDiv', '@Model.ClassroomId', '@Model.ActionUrl');
        });
    </script>
}

