@model VirtualClassroom.Models.ApplicationRole

@{
    ViewBag.Title = "Details";
    ViewBag.Name = "Details";
}

<div>
    <h4>Roles.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<h4>List of users in this role</h4>
@if (ViewBag.UserCount == 0)
{
    <hr />
    <p>No users found in this role.</p>
}

<table class="table" style="margin-top:5px;">
    <thead>
        <tr style="font-weight: 700;">
            <td>User Name</td>
            <td>Full Name</td>
        </tr>
    </thead>
    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                @if(item.FullName!=null && item.FullName!=string.Empty )
                {
                @item.FullName
                }
                else
                {
                    <p>-</p>
                }
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Role List", "Index")
</p>



