@model VirtualClassroom.Models.ComputerViewModel


@*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@
<style>
    .panel-body {
        background-color: #a09f9f;
    }
</style>

@{
    ViewBag.Title = "Moderator Computer";
    ViewBag.Name = Model.Name;
}


@if (!String.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}
else
{
    <div id="targetDiv" class="targetContainer"></div>

    @Scripts.RenderFormat("<script src=\"{0}\"></script>", "https://static.opentok.com/v2/js/opentok.min.js")

    @Scripts.Render("~/bundles/react")
    @Scripts.Render("~/vc/global")
    @Scripts.Render("~/vc/app")
    @Scripts.Render("~/vc/app/Moderator")


    <script src="https://cdn.rawgit.com/eligrey/Blob.js/0cef2746414269b16834878a8abc52eb9d53e6bd/Blob.js"></script>
    <script async="" src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var _c = new VC.App.InitModerator('targetDiv', '@Model.ClassroomId', '@Model.ActionUrl');
        });


        $(function ()
        {
            //$(".ModeratorTimeAlert").css('display', 'block');
            //$(".ModeratorTimeAlert").css('margin-top', '10px');

            //$("#minimizechat").css('float', 'right');
            //$("#minimizechat").css('margin-top', '3px');
            //$("#minimizechat").css('margin-right', '2px');
            //$("#minimizechat").css('color', '#fff');
        

            //$("#minimizevideo").css('margin-right', '2px');
			//$("#minimizevideo").css('margin-top', '3px');
            //$("#minimizevideo").css('float', 'right');
            //$("#minimizevideo").css('color', '#fff');

            //$(".header-button").css('background-color', '#5cb85c');
            //$(".header-button").css('border-color', '#4cae4c');

            //$(".header-button2").css('background-color', '#5cb85c');
            //$(".header-button2").css('border-color', '#4cae4c');
            //$(".header-button2").css('height', '18px');

            //$("#exportchat").css('background-color', '#5cb85c');
            //$("#exportchat").css('border-color', '#4cae4c');
            //$("#exportchat").css('color', '#0000ff');



            $("#exportchat").click(function ()
            {
                var values = [];
                var val="";

                $(".item").each(function ()
                {
                        //val = val + $(this).find(".itemName").text() ;
                        val = val + $(this).find(".itemName:nth-child(1)").text();
//                    val = val +" ["+ $(this).find(".itemTimechat").text() + " ]"+'\n';
  //                  val = val + $(this).find(".itemMessage").text() + '\n' + '\n';

                        val = val + " [" + $(this).find(".itemTimechat:nth-child(1)").text() + " ]" + '\n';
                        val = val + $(this).find(".itemMessage:nth-child(1)").text() + '\n' + '\n';
                });
                var blob = new Blob([val], { type: "text/plain;charset=utf-8" });
                saveAs(blob, "ChatReport.txt");

            });

            $("#minimizechat").click(function ()
            {
                $(".panel-heading").slideToggle();
                $(".panel-body").slideToggle();
                $(".panel-footer").slideToggle();

            });


            $("#minimizevideo").click(function () {
                $(".cBoxP").slideToggle();
            });

        });

    </script>

}
